@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body, html {

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background-color: black;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 500;
    color: white;
    font-size: 40px;

}

.text_box {
    width: 500px;
    font-family: Helvetica Neue;
    font-weight: 200;
    color: white;
    font-size: 17px;
    position: relative;

}

.text_box2 {
    width: 400px;
    font-family: Helvetica Neue;
    font-weight: 200;
    color: white;
    font-size: 17px;
    position: relative;

}


.paragraph_right {
    position: absolute;
    padding-top: 100px;
    left: 800px;
    z-index: 1000 !important;
}

.paragraph_right2 {
    position: absolute;
    padding-top: 1300px;
    left: 450px;
}


.paragraph_left {
    position: absolute;
    top: 495px;
    left: 100px;
    z-index: 1000 !important;
}


.position1 {
    position: relative;
    min-width: 100vw;
    top: 0px;
}
.position2 {
    position: relative;
    min-width: 100vw;
    bottom: 1800px;
    z-index: 3;
}

.position3 {
    position: relative;
    min-width: 100vw;
    bottom: 3600px;
    background-image: linear-gradient(#5A8F29 0px, #0398D7 600px);
    background-image: linear-gradient(#8000FF 1200px, #E64784 1800px);
    z-index: 1;
}

.bg_1 {
    height: 1800px;
    color: grey;
    position: relative;
    background: linear-gradient(180deg, #5a8f29, #0386be, #5701ad, #ff70a7);
    background-size: 100% 175%;

    -webkit-animation: AnimationName 44s ease infinite;
    -moz-animation: AnimationName 44s ease infinite;
    animation: AnimationName 44s ease infinite;
}

.bg_2 {
    height: 2400px;
    color: grey;
    position: relative;
    background: linear-gradient(180deg, #a21a51, #d8a475, #5c50a7);
    background-size: 200% 200%;

    -webkit-animation: AnimationName 44s ease infinite;
    -moz-animation: AnimationName 44s ease infinite;
    animation: AnimationName 44s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.buttonPosition{
    position: relative;
    left: 130px;
}

.logoPosition {
    height:24%;
    width:24%;
    position: relative;
    right: 290px;
    bottom: 0px;
}
